<div class="container">
  <h1><%= @restaurant.name %></h1><br>

  <p> <i class="fa-solid fa-location-dot"></i> <%= @restaurant.address %></p>
  <p> <i class="fa-solid fa-phone"></i> <%= @restaurant.phone_number %></p>
  <p> <i class="fa-solid fa-utensils"></i> <%= @restaurant.category %></p>


</div>
